body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  position: relative;
}
.card {
  max-width: 73.6rem;
  box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
  border-radius: 3.2rem;
  margin: 0 auto;

  display: grid;

  grid-template-columns: repeat(2, 1fr);
}
/* left side */
.result {
  border-radius: 3.2rem;
  background: var(--color-gradient1);
  text-align: center;
  padding: 4rem;
}

.result__title {
  color: var(--color-light-blue);
  margin-bottom: 3.6rem;
}
.result__value {
  background: var(--color-gradient2);
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.8rem;
}

.result__score {
  color: var(--color-white);
}

.result__of100 {
  color: var(--color-light-blue);
}

.result__status {
  color: var(--color-white);
  margin-bottom: 1.4rem;
}

.result__description {
  color: var(--color-light-blue);
}

/* right side */
.summary {
  padding: 4rem;
}
.summary__title {
  margin-bottom: 2.8rem;
}
.summary__details {
  margin-bottom: 4rem;
}
.summary__detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  border-radius: 1.2rem;
}
.summary__detail:not(:last-child) {
  margin-bottom: 1.6rem;
}
.summary__detail-title {
  display: flex;
  align-items: center;
}
.summary__icon {
  margin-right: 1.2rem;
}
.summary__detail:nth-child(1) {
  background: var(--color-red-white);
}
.summary__detail:nth-child(2) {
  background: var(--color-yellow-white);
}
.summary__detail:nth-child(3) {
  background: var(--color-green-white);
}
.summary__detail:nth-child(4) {
  background: var(--color-blue-white);
}
.summary__detail:nth-child(1) .summary__detail-title {
  color: var(--color-red);
}
.summary__detail:nth-child(2) .summary__detail-title {
  color: var(--color-yellow);
}
.summary__detail:nth-child(3) .summary__detail-title {
  color: var(--color-green);
}
.summary__detail:nth-child(4) .summary__detail-title {
  color: var(--color-blue);
}
.summary__detail-score {
  color: var(--color-dark-navy);
}
.summary__detail-score span {
  opacity: 0.5;
}

.btn,
.btn:link,
.btn:visited {
  width: 100%;
  color: var(--color-white);
  background-color: var(--color-dark-navy);
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  border-radius: 100px;
  padding: 1.6rem 0;
}

.btn:hover,
.btn:active {
  background: var(--color-gradient1);
}
